<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white" id="adminnav">
      <a class="navbar-brand">Learnify Admin</a>
      <span id="logoutbtn">
        <button class="btn btn-outline-danger btn-block logout" (click)="logout()" id="enroll1">Logout</button>
      </span>
    </div>
  </div>
  <div class="row mb-2 mt-2">
    <div>
      <div class="button-row">
        <button
          class="btn btn-outline-info btn-block courses"
          routerLink="/admin/main/courses"
          routerLinkActive="active"
        >
          Courses
        </button>
        <button
          class="btn btn-outline-info btn-block orders"
          routerLink="/admin/main/enrolled"
          routerLinkActive="active"
          id="enroll1"
        >
          Enrolled
        </button>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
